# Editor Config for foundationdb-dotnet-client

# root
root = true


# Global defaults
[*]
end_of_line = crlf
insert_final_newline = true
indent_style = tab
indent_size = 4

[*.cs]
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = false
csharp_indent_labels = one_less_than_current
csharp_indent_switch_labels = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
csharp_prefer_braces = true
csharp_preserve_single_line_statements = true
csharp_space_after_cast = true
csharp_space_after_comma = true
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_style_conditional_delegate_call = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_throw_expression = true:suggestion
dotnet_sort_system_directives_first = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_explicit_tuple_names = true:warning
dotnet_style_null_propagation = true:suggestion
dotnet_style_qualification_for_field = true:silent
dotnet_style_qualification_for_property = true:warning
dotnet_style_qualification_for_event = true:warning
dotnet_style_qualification_for_method = false:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
