Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/

.nuget/
packages/
*.ide/
.vs/
.vscode/

fdb_c.dll

[Aa]rtifacts/
Redist/

# Build tools and artifacts
/build/tools/
/build/output/
/build/.fake

# JetBrains
.idea

# OSX
.DS_Store
