<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <runtime>
    <!-- Enable the Server Garbage Collector -->
    <gcServer enabled="true"/>
    <!-- Enable the Concurrent Garbage Collector -->
    <gcConcurrent enabled="true"/>
  </runtime>

</configuration>
