name: .NET Core

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - name: Build with dotnet (net6.0)
      run: dotnet build --configuration Release -f net6.0
    - name: Build with dotnet (net8.0)
      run: dotnet build --configuration Release -f net8.0
    - name: Build NuGet Packages
      run: dotnet pack --configuration Release --output Redist
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: NuGet Packages
        path: Redist/*.nupkg
        if-no-files-found: error
